/* 
can't get the spacing to work properly...
*/

#item-table {
    border: 3px solid #49422B;
    margin: auto;
    width: 70vw;
    border-collapse: collapse;
    /* border-spacing: 20px; */
}

#item-table-header {
    border-bottom: 3px solid #49422B;
    height: fit-content;
}

th {
    color: #999064;
}

.table-row {
    margin: 6px;
    padding: 20px;
}

th, td {
    text-align: center;
    padding: 10px;
}