body {
    background-color: #e1eff8;
    margin: 0;
    height: 100%;
    width: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*Horizontal dropdown menu for the nav bar.
A lot was taken from the demonstration and edited to fit the page.*/
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    font-weight: bold;
    font-size: larger;
    color: blue;
    text-decoration: none;
}

nav li li a {
    display: block;
    font-weight: normal;
    color: blue;
}

nav li {
    float: left;
    width: 33.3334vw;
    padding: 12px 0;
    text-align: center;
    cursor: default;
    background-color: #7aa8d3;
    border: 1px solid black;
    border-width: 0px 0px 1px 0px;
}

nav li li {
    display: block;
    float: none;
    background-color: #7aa8d3;
    border: 0;
}

nav li ul {
    display: none;
    position: absolute;
    font-weight: normal;
    margin-top: 12px;
    padding: 0;
    border: solid 1px black;
}

nav li:hover ul {
    display: block;
}

nav li li a:hover {
    color: white;
    cursor: pointer;
}

nav li li a:active {
    color: lightgray;
}


/*Grid work for main content of homepage*/
.container {
    display: grid;
    width: 80%;
    justify-self: center;
    grid-template-columns: 33% 67%;
    grid-template-rows: 33% 34% 33%;
    padding-top: 10vh;
    margin: auto;
    column-gap: 5%;
}

#face {
    border-radius: 50%;
    padding: 4px;
    grid-column: 1/2;
    grid-row: 1/4;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
    font-size: 1.2em;
}

#intro {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
}